<body>
    @Html.Partial("../Admin/_TopSideNavigation")
    <div id="page-wrapper">
        <div class="page-content">
            <!-- begin PAGE TITLE ROW -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <h1>
                            Thống kê chung
                        </h1>
                        <ol class="breadcrumb">
                        <li><i class="fa fa-dashboard"></i> <a href="/Admin/#/DashBoard">Thống kê chung</a></li>
                        </ol>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- end PAGE TITLE ROW -->
            <!-- begin DASHBOARD CIRCLE TILES -->
            <div class="row centered">
                <div class="col-lg-2 col-sm-6">
                    <div class="circle-tile">
                        <a href="@Url.Content("~/Admin/#/UserList")">
                            <div class="circle-tile-heading dark-blue">
                                <i class="fa fa-users fa-fw fa-3x"></i>
                            </div>
                        </a>
                        <div class="circle-tile-content dark-blue">
                            <div class="circle-tile-description text-faded">
                                Số thành viên
                            </div>
                            <div class="circle-tile-number text-faded">
                                {{dashboardManageInfor.NumberTotalUser}}
                                <span id="sparklineA"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="circle-tile">
                        <a href="@Url.Content("~/Admin/#/OrganizationList")">
                            <div class="circle-tile-heading blue">
                                <i class="fa fa-tasks fa-fw fa-3x"></i>
                            </div>
                        </a>
                        <div class="circle-tile-content blue">
                            <div class="circle-tile-description text-faded">
                                Số tổ chức
                            </div>
                            <div class="circle-tile-number text-faded">
                                {{dashboardManageInfor.NumberTotalOrganization}}
                                <span id="sparklineB"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="circle-tile">
                        <a href="@Url.Content("~/Admin/#/EventList")">
                            <div class="circle-tile-heading orange">
                                <i class="fa fa-heart fa-fw fa-3x"></i>
                            </div>
                        </a>
                        <div class="circle-tile-content orange">
                            <div class="circle-tile-description text-faded">
                                Số sự kiện
                            </div>
                            <div class="circle-tile-number text-faded">
                                {{dashboardManageInfor.NumberTotalEvent}}
                                <span id="sparklineC"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="circle-tile">
                        <a href="@Url.Content("~/Admin/#/ThreadList")">
                            <div class="circle-tile-heading red">
                                <i class="fa fa-rocket fa-fw fa-3x"></i>
                            </div>
                        </a>
                        <div class="circle-tile-content red">
                            <div class="circle-tile-description text-faded">
                                Số bài viết
                            </div>
                            <div class="circle-tile-number text-faded">
                                {{dashboardManageInfor.NumberTotalThread}}
                                <span id="sparklineC"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end DASHBOARD CIRCLE TILES -->
            <!-- begin top table -->
            <div class="row">
                <!-- Rank User -->
                <div class="col-lg-6">
                    <div class="portlet portlet-green">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4><i class="fa fa-exchange fa-fw"></i> Xếp hạng cá nhân</h4>
                            </div>
                            <div class="portlet-widgets">
                                <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet1" onclick="return false"><i class="fa fa-chevron-down"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="transactionsPortlet1" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div class="table-responsive dashboard-demo-table">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 145px;">Tên tài khoản</th>
                                                <th>Điểm số</th>
                                                <th>Xếp hạng</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in TopFiveRankingUser">
                                                <td class="nameAdmin">
                                                    <a class="pull-left" href="@Url.Content("/Admin/#/UserProfile/{{item.UserId}}")">
                                                        <img style="width: 40px; height: 40px;" class="media-object img-circle" src="{{item.ProfileImage}}" alt="">
                                                    </a>
                                                    <p>&nbsp;{{item.UserName}}</p>
                                                </td>
                                                <td>{{item.Point}}</td>
                                                <td>{{item.CurrentRank}}</td>
                                                <td ng-switch="item.IsVerify">
                                                    <div ng-switch-when="false">
                                                        <a class="label label-warning">Chưa kích hoạt</a>
                                                    </div>
                                                    <div ng-switch-when="true" ng-switch="item.IsActive">
                                                        <a class="label label-primary" ng-switch-when="true">Đang hoạt động</a>
                                                        <a class="label label-danger" ng-switch-when="false">Bị cấm</a>
                                                    </div>

                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Rank user -->
                <!-- Rank OG -->
                <div class="col-lg-6">
                    <div class="portlet portlet-green">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4><i class="fa fa-exchange fa-fw"></i> Xếp hạng tổ chức</h4>
                            </div>
                            <div class="portlet-widgets">
                                <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet2" onclick="return false"><i class="fa fa-chevron-down"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="transactionsPortlet2" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div class="table-responsive dashboard-demo-table">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 215px;">Tổ chức</th>
                                                <th>Điểm số</th>
                                                <th>Xếp hạng</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in TopFiveRankingOrg">
                                                <td class ="nameAdmin">
                                                    <a class="pull-left" href="@Url.Content("/Admin/#/OrganizationDetail/{{item.OrganizationId}}")">
                                                        <img style="width: 40px; height: 40px;" class="media-object img-circle" src="{{item.LogoUrl}}" alt="">
                                                    </a>
                                                    <p> {{item.OrganizationName}}</p>
                                                </td>
                                                <td>{{item.Point}}</td>
                                                <td>{{item.CurrentRank}}</td>
                                                <td ng-switch="item.IsVerify">
                                                    <div ng-switch-when="false">
                                                        <a class="label label-warning">Chờ phê duyệt</a>
                                                    </div>
                                                    <div ng-switch-when="true" ng-switch="item.IsActive">
                                                        <a class="label label-primary" ng-switch-when="true">Đang hoạt động</a>
                                                        <a class="label label-danger" ng-switch-when="false">Bị cấm</a>
                                                    </div>

                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Rank OG -->
            </div>
            <!-- end Row -->

            <div class="row">

                <!-- Popular Event -->
                <div class="col-lg-6">
                    <div class="portlet portlet-green">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4><i class="fa fa-exchange fa-fw"></i> Sự kiện được ủng hộ nhiều nhất</h4>
                            </div>
                            <div class="portlet-widgets">
                                <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet3" onclick="return false"><i class="fa fa-chevron-down"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="transactionsPortlet3" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div class="table-responsive dashboard-demo-table">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 230px;">Tên sự kiện</th>
                                                <th style="width: 80px;">Thể loại</th>
                                                <th>Tổng số tiền </th>
                                                <th>Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in TopFiveRankingRaisedMoneyEvent">
                                                <td class="nameAdmin">
                                                    <a class="pull-left" href="@Url.Content("/Admin/#/EventDetail/{{item.EventID}}")">
                                                        <img style="width: 40px; height: 40px;" class="media-object img-circle" src="{{item.MainImageUrl}}" alt="">
                                                    </a>
                                                    <p> {{item.EventName}}</p>
                                                </td>
                                                <td>{{item.EventType}}</td>
                                                <td>{{item.RaisedMoney}}</td>
                                                <td ng-switch="item.TimeStatus">
                                                    <div ng-switch-when="income">
                                                        <a class="label label-warning">Sắp diễn ra</a>
                                                    </div>
                                                    <div ng-switch-when="process">
                                                        <a class="label label-primary">Đang diễn ra</a>

                                                    </div>
                                                    <div ng-switch-when="ban">
                                                        <a class="label label-danger">Bị cấm</a>
                                                    </div>
                                                    <div ng-switch-when="done">
                                                        <a class="label label-success">Đã xong</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end popular event -->
                <!-- Popular thread -->
                <div class="col-lg-6">
                    <div class="portlet portlet-green">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4><i class="fa fa-exchange fa-fw"></i> Bài viết được quan tâm nhất</h4>
                            </div>
                            <div class="portlet-widgets">
                                <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet4" onclick="return false"><i class="fa fa-chevron-down"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="transactionsPortlet4" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div class="table-responsive dashboard-demo-table">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 231px;">Tên bài viết</th>
                                                <th>Người tạo</th>
                                                <th>Số lượt thích</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in TopFiveLikeThread">
                                                <td class="nameAdmin">
                                                    <a class="pull-left" href="@Url.Content("/Admin/#/ThreadDetail/{{item.ThreadID}}")">
                                                        <img style="width: 40px; height: 40px;" class="media-object img-circle" src="{{item.ImageUrl[0]}}" alt="">
                                                    </a>
                                                    <p> {{item.ThreadName}}</p>
                                                </td>
                                                <td>{{item.Creator}}</td>
                                                <td>{{item.Likes}}</td>
                                                <td ng-switch="item.Status">
                                                    <div ng-switch-when="true">
                                                        <a class="label label-primary">Đang thảo luận</a>

                                                    </div>
                                                    <div ng-switch-when="false">
                                                        <a class="label label-danger">Bị cấm</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End row -->
            <div class="row">
                <!-- Top Backer -->
                <div class="col-lg-6">
                    <div class="portlet portlet-green">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4><i class="fa fa-exchange fa-fw"></i> Người dùng quyên góp nhiều nhất</h4>
                            </div>
                            <div class="portlet-widgets">
                                <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet5" onclick="return false"><i class="fa fa-chevron-down"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="transactionsPortlet5" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div class="table-responsive dashboard-demo-table">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 120px;">Tên tài khoản</th>
                                                <th>Số sự kiện tham gia</th>
                                                <th>Tổng số tiền</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in TopFiveDonator">
                                                <td class="nameAdmin">
                                                    <a class="pull-left" href="@Url.Content("/Admin/#/UserProfile/{{item.UserId}}")">
                                                        <img style="width: 40px; height: 40px;" class="media-object img-circle" src="{{item.ProfileImage}}" alt="">
                                                    </a>
                                                    <p> {{item.UserName}}</p>
                                                </td>
                                                <td>{{item.NumberEventDonatedIn}}</td>
                                                <td>{{item.TotalMoneyDonatedIn}}</td>
                                                
                                                <td ng-switch="item.IsVerify">
                                                    <div ng-switch-when="false">
                                                        <a class="label label-warning">Chưa kích hoạt</a>
                                                    </div>
                                                    <div ng-switch-when="true" ng-switch="item.IsActive">
                                                        <a class="label label-primary" ng-switch-when="true">Đang hoạt động</a>
                                                        <a class="label label-danger" ng-switch-when="false">Bị cấm</a>
                                                    </div>

                                                </td>
                                                
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end top backers -->
                <!-- Top Projects -->
                <div class="col-lg-6">
                    <!-- Top Backer -->
                    <div class="portlet portlet-green">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4><i class="fa fa-exchange fa-fw"></i> Sự kiện vừa được quyên góp</h4>
                            </div>
                            <div class="portlet-widgets">
                                <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet6" onclick="return false"><i class="fa fa-chevron-down"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="transactionsPortlet6" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div class="table-responsive dashboard-demo-table">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 240px;">Tên sự kiện</th>
                                                <th>Người góp</th>
                                                <th>Số tiền</th>
                                                <th>Ngày góp</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in TopRecentDonator">
                                                <td class="nameAdmin">
                                                    <a class="pull-left" href="@Url.Content("/Admin/#/EventDetail/{{item.EventId}}")">
                                                        <img style="width: 40px; height: 40px;" class="media-object img-circle" src="{{item.EventBasicInformation.MainImageUrl}}" alt="">
                                                    </a>
                                                    <p> {{item.EventBasicInformation.EventName}}</p>
                                                </td>
                                                <td>{{item.EventBasicInformation.CreatorName}}</td>
                                                <td>{{item.DonatedMoney}}</td>
                                                <td>{{item.DonatedDate}}</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end top backers -->
                </div>
                <!-- end top Projects -->
            </div>
            <!-- end row -->
        </div>
        <!-- end top table -->


    </div>
    <!-- /.page-content -->
<!-- /#page-wrapper -->
    <!-- HISRC Retina Images -->
    <script src="~/Content/Admin/js/plugins/hisrc/hisrc.js"></script>

    <!-- THEME SCRIPTS -->
    <script src="~/Content/Admin/js/flex.js"></script>
</body>
