<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../Content/css/eventList.css">
<script src="../../Content/scripts/default.js" type="text/javascript"></script>
<script src="../../Content/scripts/wookmark/js/jquery.wookmark.js" type="text/javascript"></script>
<script type="text/javascript">$(window).load(function () {var options = {autoResize: true,container: $('#gridArea'),offset: 10};var handler = $('#tiles li');handler.wookmark(options);$('#tiles li').each(function () { var imgm = 0; if($(this).find('img').length>0)imgm=parseInt($(this).find('img').not('p img').css('margin-bottom')); var newHeight = $(this).find('img').height() + imgm + $(this).find('div').height() + $(this).find('h4').height() + $(this).find('p').not('blockquote p').height() + $(this).find('iframe').height() + $(this).find('blockquote').height() + 5;if($(this).find('iframe').height()) newHeight = newHeight+15;$(this).css('height', newHeight + 'px');});handler.wookmark(options);handler.wookmark(options);});</script>
<script src="../../Content/scripts/yoxview/yox.js" type="text/javascript"></script>
<script src="../../Content/scripts/yoxview/jquery.yoxview-2.21.js" type="text/javascript"></script>
<script type="text/javascript">$(document).ready(function () {$('.yoxview').yoxview({autoHideInfo:false,renderInfoPin:false,backgroundColor:'#ffffff',backgroundOpacity:0.8,infoBackColor:'#000000',infoBackOpacity:1});$('.yoxview a img').hover(function(){$(this).animate({opacity:0.7},300)},function(){$(this).animate({opacity:1},300)});});</script>

<body id="pageBody">

    <div id="divBoxed" class="container">

        <div class="transparent-bg" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; zoom: 1;"></div>

        <div class="divPanel notop nobottom">
            @Html.Partial("../Home/_NavigationBar")
            <div class="row-fluid">
                <div class="span12">
                    <div id="contentInnerSeparator"></div>
                </div>
            </div>
        </div>

        <div class="contentArea">

            <div class="divPanel notop page-content">

                <div class="breadcrumbs">
                    <a href="Home.html">Trang chủ</a> &nbsp;/&nbsp; <span>Sự kiện </span>
                </div>

                <hr>
                <!--Edit Portfolio Content Area here-->
                @*<div class="row-fluid" ng-repeat="item in Top1Event">
                        <li class="span6">
                            <div class="event-img">
                                <a href="@Url.Content("/#/EventDetail/{{item.EventID}}")"><img src="{{item.MainImageUrl}}" class="img-polaroid" alt="" style="width: 600px; height: 400px; margin: 5px 0px 15px;"></a>
                            </div>
                        </li>
                        <li class="span6">
                            <div class="event-title" style="height:130px;">
                                <a href="@Url.Content("/#/EventDetail/{{item.EventID}}")"><h2 class="text-info" >{{item.EventName}}</h2></a>
                            </div>
                            <div class="event-content">
                                <p>
                                    {{item.Content}}<br/>
                                </p>
                            </div>
                        </li>
       
                </div>
                <br />
                <div class="row">

                    <div class="span3" style="width:242px" ng-repeat="item in Event| limitTo: paginationLimit()">
                        <div class="event-img">
                            <a href="@Url.Content("/#/EventDetail/{{item.EventID}}")"><img src="{{item.MainImageUrl}}" class="img-polaroid" alt="" style="width: 300px; height: 200px; margin: 5px 0px 15px;"></a>
                        </div>
                        <div class="event-title">
                            <a href="@Url.Content("/#/EventDetail/{{item.EventID}}")"><h4 class="text-info">{{item.EventName}}</h4></a>
                        </div>
                        <div class="event-content">
                            <p>{{item.Content}}</p>
                        </div>
                        <div class="event-footer">
                            <i class="foundicon-thumb-up"></i><span><strong>{{item.Likes}}</strong></span>&nbsp; &nbsp;&nbsp; &nbsp;<i class="foundicon-chat"></i><span><strong>30</strong></span>&nbsp; &nbsp;&nbsp; &nbsp;<img src="Content\Images\donate.jpg" title="Số người tham gia" style="padding-bottom: 4px;" /><span><strong>500</strong></span>
                           <br />
                            <a href="#">Xem thêm &raquo;</a></p>
                        </div>
                    </div>
                </div>*@
                <div class="row-fluid">
                    <section class="col-8">
                        <div class="contentList" ng-repeat="item in EventList| limitTo: paginationLimit()">
                            <a href="@Url.Content("/#/EventDetail/{{item.EventID}}")">
                                <img src="{{item.MainImageUrl}}" alt="" />
                            </a>
                            <!-- Title -->
                            <div class="title">
                                {{item.EventName}}
                            </div>
                            <!-- Infor basic of event -->
                            <div class="info">
                                <span>Tạo bởi:</span>&nbsp;{{item.CreatorName}}<span class="space"></span>
                                <span>Thể loại:</span>&nbsp;{{item.EventType}}&nbsp;<span class="space"></span>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>{{item.CreatedDate}}
                                </span>
                            </div>
                            <br />
                            <div class="contentEvent">
                                <p>{{item.ShortDescription}}<p>
                            </div>
                            <a href="@Url.Content("/#/EventDetail/{{item.EventID}}")">Xem thêm &raquo;</a>
                            <hr>
                        </div>
                    </section>

                    <aside class="col-4">
                        <!-- Start Search -->
                        <div class="search">
                            <input id="search" type="text" placeholder="Nhập tìm kiếm" class="form-control" />
                            <span>
                                <i class="icon-search"></i>
                            </span>
                        </div>
                        <!-- End Search -->

                        <!-- Tab Aside content -->
                        <div class="form-group">
                            <label >Sắp xếp sự kiện theo:</label>
                            <select ng-options="option for option in listOfOptions"
                                    ng-model="selectedItem"
                                    ng-change="LoadEventSortByPoint()">
                                @*<option>Ngày Tạo</option>
                                <option ng-change="LoadEventSortByPoint">Điểm</option>*@

                            </select>
                        </div>
                        @*<ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#newest" onclick=" return false" ng-click="loadNewestEvent()">Sự kiện mới nhất</a></li>
                            <li ><a data-toggle="tab" href="#popular" onclick=" return false " ng-click="loadFollowEvent()">Sự kiện được quan tâm</a></li>
                        </ul>

                        <div class="tab-content">

                            <!-- Popular event -->
                            <div id="popular" class="tab-pane fade in active">
                                <div class="asideContentEvent" style="display: block;">
                                    <!-- First content -->
                                    <div class="item">
                                        <div class="col-3">
                                            <img style="height:73px;" src="portfolio/600x400.png" />
                                        </div>
                                        <div class="col-9">
                                            <a href="" class="title1">Phát động chương trình "Ngọt ngào ước mơ đêm trung thu lần 5" năm 2016</a>
                                        </div>
                                        <div class="info">
                                            <i class="fa fa-users" aria-hidden="true" title="Số người tham gia sự kiện"></i> 500
                                            <span style="padding-left: 84px;"><i class="fa fa-calendar-o"></i> 12/10/2016</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End popular Event -->
                            <!-- Newest event -->
                            <div id="newest" class="tab-pane fade">
                                <div class="asideContentEvent" style="display: block;">
                                    <!-- First content -->
                                    <div class="item">
                                        <div class="col-3">
                                            <img style="height:73px;" src="portfolio/600x400.png" />
                                        </div>
                                        <div class="col-9">
                                            <a href="" class="title1">Phát động chương trình "Ngọt ngào ước mơ đêm trung thu lần 5" năm 2016</a>
                                        </div>
                                        <div class="info">
                                            <span><i class="fa fa-calendar-o"></i> 12/10/2016</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Newest Event -->
                        </div>*@
                        <!-- End tab aside -->
                        <!--Event type-->
                        <h3 class="title">Thể loại</h3>
                        <div class="asideContentCatelogy" style="display: block;">
                            <ul style="list-style-type: circle;">
                                <li ng-click="getEventSocial()">
                                    <a >Văn hóa - Xã hội</a>
                                </li>
                                <li>
                                    <a ng-click="getEventEducation()">Giáo dục</a>
                                </li>
                                <li>
                                    <a ng-click="getEventMedical()">Y tế</a>
                                </li>
                                <li>
                                    <a ng-click="getEventOther()">Khác</a>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <!--Create Event-->
                        <div class="span12">
                            <div class="box">
                                <a href="#"><i class="icon-tasks"></i></a>
                                <a href="#" style="color:#333;"><h4>TẠO SỰ KIỆN</h4></a>
                                <hr>
                                <p>
                                    Tạo ra những sự kiện từ thiện riêng của bạn để kêu gọi đóng góp.
                                </p>
                            </div>
                        </div>
                    </aside>
                </div>
                
                <!--/End Portfolio Content Area-->
                <br />
                <div align="center">
                    <a class="btn btn-primary" href="#" onclick="return false;" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()"><i class="icon-refresh icon-spin"></i> Xem thêm...</a>
                </div>
                <div id="footerInnerSeparator"></div>
               
                <div class="row-fluid">
                    <!--Edit Main Content Area here-->
                    <div class="span12" id="divMain">
                        <h1>Xếp hạng các tổ chức</h1>
                        <hr>

                        <br />
                        <br />
                    </div>
                    <div class="row-fluid">

                        <div class="span4" align="center" ng-repeat="item in Organization track by $index">
                            <div class="organization-title">
                                <h4 class="text-info">{{item.OrganizationName}}</h4>
                            </div>
                            <div class="organization-img">
                                <img src="{{item.LogoUrl}}" class="img-polaroid img-circle" style="width:111px;height:118px; margin: 5px 0px 15px;">
                            </div>
                            <div class="organization-content">
                                <p>{{item.Introduction}}</p>
                            </div>
                            <div class="organization-footer">
                                <a href="#">Read More &raquo;</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="footerOuterSeparator"></div>

            @Html.Partial("../Home/_Footer")
            <br /><br /><br />
        </div>
    </div>

</body>

