<!DOCTYPE html>
<html ng-app="ClientApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/Logindialog.css">
    <link href="~/Content/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
   

</head>

<body >

    @Html.Partial("../Login/_Login")
    @Html.Partial("../Login/_ForgotPassword")
    @Html.Partial("_NavigationBar")
    @RenderBody()

</body >

</html>
