<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="../../Content/scripts/font-awesome-4.6.3/css/font-awesome.min.css">
<script src="../../Content/scripts/default.js" type="text/javascript"></script>
<script src="../../Content/scripts/wookmark/js/jquery.wookmark.js" type="text/javascript"></script>
<script type="text/javascript">$(window).load(function () { var options = { autoResize: true, container: $('#gridArea'), offset: 10 }; var handler = $('#tiles li'); handler.wookmark(options); $('#tiles li').each(function () { var imgm = 0; if ($(this).find('img').length > 0) imgm = parseInt($(this).find('img').not('p img').css('margin-bottom')); var newHeight = $(this).find('img').height() + imgm + $(this).find('div').height() + $(this).find('h4').height() + $(this).find('p').not('blockquote p').height() + $(this).find('iframe').height() + $(this).find('blockquote').height() + 5; if ($(this).find('iframe').height()) newHeight = newHeight + 15; $(this).css('height', newHeight + 'px'); }); handler.wookmark(options); handler.wookmark(options); });</script>
<script src="../../Content/scripts/yoxview/yox.js" type="text/javascript"></script>
<script src="../../Content/scripts/yoxview/jquery.yoxview-2.21.js" type="text/javascript"></script>
<script type="text/javascript">$(document).ready(function () { $('.yoxview').yoxview({ autoHideInfo: false, renderInfoPin: false, backgroundColor: '#ffffff', backgroundOpacity: 0.8, infoBackColor: '#000000', infoBackOpacity: 1 }); $('.yoxview a img').hover(function () { $(this).animate({ opacity: 0.7 }, 300) }, function () { $(this).animate({ opacity: 1 }, 300) }); });</script>

<body id="pageBody">

    <div id="divBoxed" class="container">

        <div class="transparent-bg" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; zoom: 1;"></div>

        <div class="divPanel notop nobottom">
            @Html.Partial("../Home/_NavigationBar")
            <div class="row-fluid">
                <div class="span12">
                    <div id="contentInnerSeparator"></div>
                </div>
            </div>
        </div>

        <div class="contentArea">

            <div class="divPanel notop page-content">

                <div class="breadcrumbs">
                    <a href="Home.html">Trang chủ</a> &nbsp;/&nbsp; <span>Tổ chức</span>
                </div>

                <div id="orgCreate" class="row-fluid">
                    <div class="span3">
                        <div class="box">

                            <a href="@Url.Content("/#/CreateOrganization")"><i class="icon-edit"></i></a>
                            <h4 class="title">Tạo Tổ chức</h4>
                            <hr />
                            <p>
                                Hãy tạo Tổ chức để có thể phát động những sự kiện từ thiện.
                            </p>
                        </div>
                    </div>
                    
                </div>
                <hr />
                

                <div id="orgUserPart" class="row-fluid">
                    @*<strong><h2>Tổ chức của bạn</h2></strong>*@
                </div>


                <div class="row-fluid">
                    <div id="orgUser" class="span3" ng-show="showOrgUser()">
                        <div class="organization-name" >
                            <a href="@Url.Content("/#/OrganizationDetail/{{orgBelongUser.OrganizationId}}")" style="text-decoration: none; color: inherit;">
                                <h4 class="text-info" style="text-transform: capitalize;">
                                    <strong>{{orgBelongUser.OrganizationName}}</strong>
                                </h4>
                            </a>
                        </div>
                        <div class="organization-logo ">
                            <a href="@Url.Content("/#/OrganizationDetail/{{orgBelongUser.OrganizationId}}")" style="text-decoration: none; color: inherit;">
                                <img src="{{orgBelongUser.LogoUrl}}" class="img-polaroid" alt="">
                            </a>
                        </div>
                        <div class="organization-content " style="overflow: hidden;">
                            <p class="introduction">{{orgBelongUser.Introduction}}</p>
                            <p class="basic-infor">
                                <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;{{orgBelongUser.Phone}}
                            </p>
                            <p class="basic-infor">
                                <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;{{orgBelongUser.Email}}
                            </p>
                            <p class="basic-infor">
                                <i class="fa fa-scribd" aria-hidden="true"></i>&nbsp;&nbsp;{{orgBelongUser.Status}}
                            </p>
                        </div>
                        <div class="thread-footer ">
                            <a href="#">Xem chi tiết &raquo;</a>
                        </div>
                    </div>


                </div>

                <div id="breaktag"></div>

                <div class="row-fluid">
                    <strong><h2>Danh Sách Tổ chức</h2></strong>
                </div>

                <!-- Row 1 -->
                <div class="row">

                    <div class="span3" style="width:242px" ng-repeat="item in OrgList| limitTo: paginationLimit()">
                        <div class="organization-name ">
                            <a href="@Url.Content("/#/OrganizationDetail/{{item.OrganizationId}}")">
                                <h3 class="text-info" style="text-transform: capitalize;">
                                    <strong>{{item.OrganizationName}}</strong>
                                </h3>
                            </a>
                        </div>

                        <div class="organization-logo ">
                            <a href="@Url.Content("/#/OrganizationDetail/{{item.OrganizationId}}")">
                                <img src="{{item.LogoUrl}}" class="img-polaroid" alt="">
                            </a>
                        </div>

                        <div class="organization-content " style="overflow: hidden;">
                            <p class="introduction">
                                {{item.Introduction}}
                            </p>

                            <p class="basic-infor">
                                <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;{{item.Phone}}
                            </p>

                            <p class="basic-infor">
                                <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;{{item.Email}}
                            </p>

                            <p class="basic-infor">
                                <i class="fa fa-scribd" aria-hidden="true"></i>&nbsp;&nbsp;{{item.Status}}
                            </p>
                        </div>

                        <div class="thread-footer ">

                            <a href="@Url.Content("/#/OrganizationDetail/{{item.OrganizationId}}")">Xem chi tiết &raquo;</a>
                        </div>
                        <br />
                        <br />
                    </div>

                </div>
                <!--/End Portfolio Content Area-->
                <br />
                
                <div align="center">
                    <a class="btn btn-primary" href="#" onclick="return false;" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()"><i class="icon-refresh icon-spin"></i> Xem thêm...</a>
                </div>
            </div>

            <div id="footerOuterSeparator"></div>

            @Html.Partial("../Home/_Footer")
            <br /><br /><br />
        </div>
    </div>

</body>

