<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="../../Content/scripts/font-awesome-4.6.3/css/font-awesome.min.css">
<script src="../../Content/scripts/default.js" type="text/javascript"></script>
<script src="../../Content/scripts/wookmark/js/jquery.wookmark.js" type="text/javascript"></script>
<script type="text/javascript">$(window).load(function () { var options = { autoResize: true, container: $('#gridArea'), offset: 10 }; var handler = $('#tiles li'); handler.wookmark(options); $('#tiles li').each(function () { var imgm = 0; if ($(this).find('img').length > 0) imgm = parseInt($(this).find('img').not('p img').css('margin-bottom')); var newHeight = $(this).find('img').height() + imgm + $(this).find('div').height() + $(this).find('h4').height() + $(this).find('p').not('blockquote p').height() + $(this).find('iframe').height() + $(this).find('blockquote').height() + 5; if ($(this).find('iframe').height()) newHeight = newHeight + 15; $(this).css('height', newHeight + 'px'); }); handler.wookmark(options); handler.wookmark(options); });</script>
<script src="../../Content/scripts/yoxview/yox.js" type="text/javascript"></script>
<script src="../../Content/scripts/yoxview/jquery.yoxview-2.21.js" type="text/javascript"></script>
<script type="text/javascript">$(document).ready(function () { $('.yoxview').yoxview({ autoHideInfo: false, renderInfoPin: false, backgroundColor: '#ffffff', backgroundOpacity: 0.8, infoBackColor: '#000000', infoBackOpacity: 1 }); $('.yoxview a img').hover(function () { $(this).animate({ opacity: 0.7 }, 300) }, function () { $(this).animate({ opacity: 1 }, 300) }); });</script>
        <div class="divPanel notop nobottom">
      
        </div>

    <div class="contentArea">

        <div class="divPanel notop page-content">
            <div class="breadcrumbs">
                <a href="@Url.Content("/#/Home")">Trang chủ</a> &nbsp;/&nbsp;<a href="@Url.Content("/#/Organization")">Tổ chức</a>&nbsp;/&nbsp;<a href="@Url.Content("/#/OrganizationDetail/{{currentOrg.OrganizationId}}")">Chi tiết tổ chức #{{currentOrg.OrganizationId}}</a>
            </div>

            <div class="row-fluid">
                <h1>
                    <strong>{{currentOrg.OrganizationName}}</strong>
                </h1>
            </div>
            <hr/>

            <div class="row-fluid">
                <div class="span8" >
                    <h2><strong>Mục tiêu của chúng tôi</strong></h2>
                    <p>{{currentOrg.Introduction}}</p>
                    <hr />
                    <h2><strong>Thống kê sự kiện</strong></h2>

                    <div class="row-fluid" ng-repeat="item in eventsOfOrganization| limitTo: paginationLimit()">
                        <div class="span3">
                            <a href="@Url.Content("/#/EventDetail/{{item.EventID}}")"><img src="{{item.MainImageUrl}}" class="img-polaroid" alt="" style=" margin: 5px 0px 15px;"></a>
                        </div>
                        <div class="span9">
                            <div class="event-title" style="height: 30px;">
                                <a href="@Url.Content("/#/EventDetail/{{item.EventID}}")">
                                    <h3 class="text-info" style="margin-top: 1px;">{{item.EventName}}</h3>
                                </a>
                            </div>
                            <div class="event-content">
                                <p>{{item.Content}}</p>
                            </div>
                            <div class="event-footer">
                                <i class="foundicon-thumb-up"></i>

                                <span>
                                    <strong>{{item.Likes}}</strong>
                                </span>
                                &nbsp; &nbsp;&nbsp; &nbsp;
                                <i class="foundicon-chat"></i>
                                <span>
                                    <strong>30</strong>
                                </span>
                                &nbsp; &nbsp;&nbsp; &nbsp;
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span>
                                    <strong>500</strong>
                                </span>
                                &nbsp; &nbsp;&nbsp; &nbsp;
                                <span><a href="@Url.Content("/#/EventDetail/{{item.EventID}}")">Xem thêm &raquo;</a></span>
                            </div>
                        </div>
                        <hr />
                    </div>

                    

                    
                </div>

                <div class="span4 sidebar">
                    <div class="sidebox" style="margin-top: 8px;">
                        <div class="row-fluid">
                            <a href="@Url.Content("/#/EditOrganization/{{currentOrg.OrganizationId}}")" style="margin-top: 0; float: right;" ng-style="isOwnerOrg">
                                <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Chỉnh sửa
                            </a>
                        </div>
                        <div align="center">
                            <img src="{{currentOrg.LogoUrl}}" class=" img-circle" style="height: 150px; width: 150px; margin: 0px 0px 15px;" alt="">
                        </div>
                        <div class="organization-content " style="overflow: hidden;">
                            <p class="basic-infor"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;{{currentOrg.Phone}}
                            </p>
                            <p class="basic-infor"><i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp;&nbsp;{{currentOrg.Address}}
                            </p>
                            <p class="basic-infor"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;{{currentOrg.Email}}
                            </p>
                            <p class="basic-infor"><i class="fa fa-scribd" aria-hidden="true"></i>&nbsp;&nbsp;300.000.000 VNĐ
                            </p>
                            <strong>Xếp hạng:</strong> 5 trên tổng số các tổ chức
                        </div>

                        <ul>
                            <li><a href="#">Gửi tin nhắn cho chúng tôi</a></li>
                            <li><a href="#">Đóng góp để gây quĩ</a></li>
                        </ul>


                        <h4 class="sidebox-title">Thống kê</h4>

                        <h5>Đã có: 40 người tham gia các sự kiện</h5>
                        <div class="progress progress-info">
                            <div class="bar" style="width: 20%"></div>
                        </div>

                        <h5>Đã kêu gọi được( 80% ) số tiền cần thiết</h5>
                        <div class="progress progress-success">
                            <div class="bar" style="width: 40%"></div>
                        </div>
                        <h5>Đã đạt được 800 điểm</h5>
                        <div class="progress progress-danger">
                            <div class="bar" style="width: 40%"></div>
                        </div>



                    </div>

                </div>
            </div>
            <div align="center">
                <a class="btn btn-primary" href="#" onclick="return false;" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()"><i class="icon-refresh icon-spin"></i> Xem thêm...</a>
            </div>
                

               
        </div>

            @Html.Partial("../Home/_Footer")
            <br /><br /><br />
        </div>



