<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="../../Content/scripts/font-awesome-4.6.3/css/font-awesome.min.css">
<script src="../../Content/scripts/default.js" type="text/javascript"></script>
        <div class="divPanel notop nobottom">

        </div>

        <div class="contentArea">

            <div class="divPanel notop page-content">

                <div class="breadcrumbs">
                    <a href="@Url.Content("/#/Home")">Trang chủ</a> &nbsp;/&nbsp; <span>Tổ chức</span>
                </div>

                <div class="row-fluid">
                    <h2>Danh Sách Tổ chức</h2>
                </div>

                <!-- Row 1 -->
                <div class="row">

                    <div class="spanThread addborder" ng-repeat="item in OrgList| limitTo: paginationLimit()">
                        <div class="organization-img">
                            <a href="@Url.Content("/#/OrganizationDetail/{{item.OrganizationId}}")">
                                <img src="{{item.LogoUrl}}" alt="">
                            </a>
                        </div>
                        <div class="contentTop">
                            <div class="organization-name ">
                                <a href="@Url.Content("/#/OrganizationDetail/{{item.OrganizationId}}")">
                                    <h3 class="text-info" style="text-transform: capitalize;">
                                        <strong>{{item.OrganizationName}}</strong>
                                    </h3>
                                </a>
                            </div>
                            <div class="organization-content " style="overflow: hidden;">
                                <p class="introduction">
                                    {{item.Introduction}}
                                </p>

                                <p class="basic-infor">
                                    <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;{{item.Phone}}
                                </p>
                            </div>
                            <div class="thread-footer ">

                                <a href="@Url.Content("/#/OrganizationDetail/{{item.OrganizationId}}")">Xem chi tiết &raquo;</a>
                            </div>
                        </div>

                        <br />
                        <br />
                    </div>

                </div>
                <!--/End Portfolio Content Area-->
                <br />
                
                <div align="center">
                    <a class="btn btn-primary" href="#" onclick="return false;" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()"><i class="icon-refresh icon-spin"></i> Xem thêm...</a>
                </div>
            </div>

            <div id="footerOuterSeparator"></div>

            @Html.Partial("../Home/_Footer")
            <br /><br /><br />
        </div>
