<body>
    @Html.Partial("../Admin/_TopSideNavigation")
    <!-- begin MAIN PAGE CONTENT -->
    <div id="page-wrapper">

        <div class="page-content">

            <!-- begin PAGE TITLE ROW -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <h1>
                            Thống kê thành viên
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="#">Thống kê</a>
                            </li>
                            <li class="active">Thống kê thành viên</li>
                        </ol>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- end PAGE TITLE ROW -->
            <!-- begin DASHBOARD CIRCLE TILES -->
            @Html.Partial("../Admin/UserManage/_UserCircleTiles")
            <!-- end DASHBOARD CIRCLE TILES -->
            <!-- begin NEW USER TABLES ROW -->
            <div class="row">
                <!-- Top Creators -->
                <div class="col-lg-12">
                    <div class="portlet portlet-green">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4><i class="fa fa-exchange fa-fw"></i> Quyên góp nhiều nhất</h4>
                            </div>
                            <div class="portlet-widgets"> <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet2"><i class="fa fa-chevron-down"></i></a> </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="transactionsPortlet2" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div class="table-responsive dashboard-demo-table">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 25px;">STT</th>
                                                <th style="width: 200px;">Họ và tên</th>
                                                <th style="width: 125px;">Tên đăng nhập</th>
                                                <th style="width: 128px;">Tổng số sự kiện</th>
                                                <th style="width: 128px;">Tổng số tiền</th>
                                                <th style="width: 152px;">Lần quyên góp cuối</th>
                                                <th style="width: 152px;">Ngày quyên góp cuối</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in TopFiveDonator">
                                                <td>{{$index + 1}}</td>
                                                <td>
                                                    <a class="pull-left" href="@Url.Content("/Admin/#/UserProfile/{{item.UserId}}")">
                                                        <img style="width: 40px; height: 40px;" class="media-object img-circle" src="{{item.ProfileImage}}" alt="">
                                                    </a>
                                                    <h4>{{item.FullName}}</h4>
                                                </td>
                                                <td>{{item.UserName}}</td>
                                                <td>{{item.NumberEventDonatedIn}}</td>
                                                <td>{{item.TotalMoneyDonatedIn}}&nbsp;vnd</td>
                                                <td>{{item.LastDonateMoney}}</td>
                                                <td>{{item.LastDonateDate}}</td>
                                                <td ng-switch="item.IsVerify">
                                                    <div ng-switch-when="false">
                                                        <a class="btn btn-xs btn-warning">Chưa kích hoạt</a>
                                                    </div>
                                                    <div ng-switch-when="true" ng-switch="item.IsActive">
                                                        <a class="btn btn-xs btn-green" ng-switch-when="true">Đang hoạt động</a>
                                                        <a class="btn btn-xs btn-danger" ng-switch-when="false">Bị cấm</a>
                                                    </div>

                                                </td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Top Creators -->
            </div>
            <!-- /.col-lg-12 -->
            <!-- /.row -->
            <!-- Recent user and top Created thread -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="portlet portlet-blue">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4><i class="fa fa-exchange fa-fw"></i> Tạo nhiều bài viết nhất</h4>
                            </div>
                            <div class="portlet-widgets"> <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet3"><i class="fa fa-chevron-down"></i></a> </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="transactionsPortlet3" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div class="table-responsive dashboard-demo-table">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 125px">Họ và tên</th>
                                                <th>Tên đăng nhập</th>
                                                <th style="width: 125px">Địa chỉ Email</th>
                                                <th>Số bài viết</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in TopFiveUserCreateThread">
                                                <td>
                                                    <a class="pull-left" href="@Url.Content("/Admin/#/UserProfile/{{item.UserId}}")">
                                                        <img style="width: 40px; height: 40px;" class="media-object img-circle" src="{{item.ProfileImage}}" alt="">
                                                    </a>
                                                    <h4>{{item.FullName}}</h4>
                                                </td>
                                                <td>{{item.UserName}}</td>
                                                <td>{{item.Email}}</td>
                                                <td>{{item.NumberOfPost}}</td>
                                                <td ng-switch="item.IsVerify">
                                                    <div ng-switch-when="false">
                                                        <a class="btn btn-xs btn-warning">Chưa kích hoạt</a>
                                                    </div>
                                                    <div ng-switch-when="true" ng-switch="item.IsActive">
                                                        <a class="btn btn-xs btn-green" ng-switch-when="true">Đang hoạt động</a>
                                                        <a class="btn btn-xs btn-danger" ng-switch-when="false">Bị cấm</a>
                                                    </div>

                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end top creators -->
                <!-- Top Rank -->
                <div class="col-lg-6">
                    <div class="portlet portlet-orange">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4><i class="fa fa-exchange fa-fw"></i> Xếp hạng cao nhất</h4>
                            </div>
                            <div class="portlet-widgets"> <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet3"><i class="fa fa-chevron-down"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="transactionsPortlet3" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div class="table-responsive dashboard-demo-table">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th style="width: 125px">Họ và tên</th>
                                            <th>Tên đăng nhập</th>
                                            <th>Điểm số</th>
                                            <th>Xếp hạng</th>
                                            <th>Trạng thái</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in TopFiveRankingUser">
                                                <td>
                                                    <a class="pull-left" href="@Url.Content("/Admin/#/UserProfile/{{item.UserId}}")">
                                                        <img style="width: 40px; height: 40px;" class="media-object img-circle" src="{{item.ProfileImage}}" alt="">
                                                    </a>
                                                    <h4>{{item.FullName}}</h4>
                                                </td>
                                                <td>{{item.UserName}}</td>
                                                <td>{{item.Point}}</td>
                                                <td>{{item.CurrentRank}}</td>
                                                <td ng-switch="item.IsVerify">
                                                    <div ng-switch-when="false">
                                                        <a class="btn btn-xs btn-warning">Chưa kích hoạt</a>
                                                    </div>
                                                    <div ng-switch-when="true" ng-switch="item.IsActive">
                                                        <a class="btn btn-xs btn-green" ng-switch-when="true">Đang hoạt động</a>
                                                        <a class="btn btn-xs btn-danger" ng-switch-when="false">Bị cấm</a>
                                                    </div>

                                                </td>
                                            </tr>
                                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Top Rank -->
            </div>
            <!-- end new users and top creator -->

        </div>
        <!-- /.page-content -->

    </div>
    <!-- /#page-wrapper -->
    <!-- end MAIN PAGE CONTENT -->
    <!-- GLOBAL SCRIPTS -->
    <script src="~/Content/Admin/js/jquery.min.js"></script>
    <script src="~/Content/Admin/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/Admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/Admin/js/plugins/popupoverlay/jquery.popupoverlay.js"></script>
    <script src="~/Content/Admin/js/plugins/popupoverlay/defaults.js"></script>
    <!-- HISRC Retina Images -->
    <script src="~/Content/Admin/js/plugins/hisrc/hisrc.js"></script>

    <!-- PAGE LEVEL PLUGIN SCRIPTS -->
    <script src="~/Content/Admin/js/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/Admin/js/plugins/datatables/datatables-bs3.js"></script>
    <script src="~/Content/Admin/js/demo/advanced-tables-demo.js"></script>


    <!-- THEME SCRIPTS -->
    <script src="~/Content/Admin/js/flex.js"></script>
</body>